<form [formGroup]="formMedication" (ngSubmit)="submitForm()">
  <div class="p-8 card">
    <div class="grid">
      <div class="col-6 sm:col-12 lg:col-6">
        <b>Nombre:</b>
        <input
          type="nombre"
          name="nombre"
          class="w-full my-2"
          pInputText
          formControlName="nombre"
          [disabled]="isDisabled"
        />
      </div>
      <div class="col-6 sm:col-12 lg:col-6">
        <b>Laboratorio:</b>
        <input
          type="text"
          name="laboratorio"
          class="w-full my-2"
          pInputText
          formControlName="laboratorio"
          [disabled]="isDisabled"
        />
      </div>

      <div class="col-6 sm:col-12 lg:col-6">
        <b>Fecha Fabricacion:</b>
        <p-calendar
          name="fechaFabricacion"
          formControlName="fechaFabricacion"
          [showIcon]="true"
          styleClass="w-full my-2"
          dateFormat="dd-mm-yy"
          [appendTo]="'body'"
        ></p-calendar>
      </div>
      <div class="col-6 sm:col-12 lg:col-6">
        <b>Fecha Vencimiento:</b>
        <p-calendar
          name="fechaVencimiento"
          formControlName="fechaVencimiento"
          [showIcon]="true"
          styleClass="w-full my-2"
          dateFormat="dd-mm-yy"
          [appendTo]="'body'"
        ></p-calendar>
      </div>
      <div class="col-6 sm:col-12 lg:col-6">
        <b>Stock:</b>
        <p-inputNumber
          name="cantidadStock"
          formControlName="cantidadStock"
          inputId="integeronly"
          class="w-full my-2"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
        >
        </p-inputNumber>
      </div>
      <div class="col-6 sm:col-12 lg:col-6">
        <b>Valor Unitario:</b>
        <p-inputNumber
          name="valorUnitario"
          formControlName="valorUnitario"
          inputId="integeronly"
          class="w-full my-2"
          mode="decimal"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="flex justify-content-between mt-6">
      <button
        pButton
        type="button"
        icon="pi pi-check"
        label="{{ text_button }}"
        (click)="submitForm()"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-danger"
        icon="pi pi-times"
        label="{{ cancel_button }}"
        (click)="cancel()"
      ></button>
    </div>
  </div>
</form>
