<form [formGroup]="formMedication" (ngSubmit)="submitForm()">
  <div class="p-8 card">
    <div class="grid">
      <div class="col-12 sm:col-12 lg:col-6">
        <b>Nombre:</b>
        <input
          type="name"
          name="name"
          pInputText
          formControlName="name"
          [disabled]="isDisabled"
          [ngClass]="{
            '': true,
            'w-full my-2': true,
          }"
        />
        <small *ngIf="validar('name')">{{ getMensaje("name") }}</small>
      </div>
      <div class="col-12 sm:col-12 lg:col-6">
        <b>Laboratorio:</b>
        <input
          type="text"
          name="laboratory"
          class="w-full my-2"
          pInputText
          formControlName="laboratory"
          [disabled]="isDisabled"
        />
      </div>

      <div class="col-12 sm:col-12 lg:col-6">
        <b>Fecha Fabricacion:</b>
        <p-calendar
          name="dateProduction"
          formControlName="dateProduction"
          [showIcon]="true"
          styleClass="w-full my-2"
          dateFormat="dd-mm-yy"
          [appendTo]="'body'"
          [ngClass]="{
            'w-full my-2': true,
            'ng-invalid ng-dirty':
              f['dateProduction'].invalid &&
              (f['dateProduction'].errors || f['dateProduction'].touched)
          }"
        ></p-calendar>
      </div>
      <div class="col-12 sm:col-12 lg:col-6">
        <b>Fecha Vencimiento:</b>
        <p-calendar
          name="dateExpiration"
          formControlName="dateExpiration"
          [showIcon]="true"
          styleClass="w-full my-2"
          dateFormat="dd-mm-yy"
          [appendTo]="'body'"
          [ngClass]="{
            'w-full my-2': true,
            'ng-invalid ng-dirty':
              f['dateExpiration'].invalid &&
              (f['dateExpiration'].errors || f['dateExpiration'].touched)
          }"
        ></p-calendar>
      </div>
      <div class="col-12 sm:col-12 lg:col-6">
        <b>Stock:</b>
        <p-inputNumber
          name="stock"
          formControlName="stock"
          inputId="integeronly"
          class="w-full my-2"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
          [ngClass]="{
            'w-full my-2': true,
            'ng-invalid ng-dirty':
              f['stock'].invalid && (f['stock'].errors || f['stock'].touched)
          }"
        >
        </p-inputNumber>
      </div>
      <div class="col-12 sm:col-12 lg:col-6">
        <b>Valor Unitario:</b>
        <p-inputNumber
          name="unitvalue"
          formControlName="unitvalue"
          inputId="integeronly"
          class="w-full my-2"
          mode="decimal"
          [showButtons]="true"
          inputId="minmax-buttons"
          [min]="1"
        >
        </p-inputNumber>
      </div>
    </div>
    <div class="flex justify-content-between mt-6">
      <button
        pButton
        type="button"
        icon="pi pi-check"
        label="{{ text_button }}"
        (click)="submitForm()"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-check"
        class="p-button-danger"
        icon="pi pi-times"
        label="{{ cancel_button }}"
        (click)="cancel()"
      ></button>
    </div>
  </div>
</form>
