<div class="p-8 card">
  <div class="grid">
    <div class="col-12 sm:col-12 lg:col-6">
      <p>Nombre:</p>
      <label for="Nombre">{{ medication.name }}</label>
    </div>
    <div class="col-12 sm:col-12 lg:col-6">
      <p>Laboratorio:</p>
      <label for="laboratorio">{{ medication.laboratory }}</label>
    </div>
    <div class="col-12 sm:col-12 lg:col-6">
      <p>CantidadStock:</p>
      <label for="Cantidad">{{ medication.stock }}</label>
    </div>
    <form class="grid col-12" [formGroup]="formSale" (ngSubmit)="vender()">
      <div class="col-12 sm:col-12 lg:col-6">
        <p>Cantidad:</p>
        <p-inputNumber
          inputId="minmax"
          inputId="minmax"
          mode="decimal"
          [min]="1"
          formControlName="quantity"
          (onInput)="onInputChange()"
        >
        </p-inputNumber>
      </div>
      <div class="col-12 sm:col-12 lg:col-6">
        <p>fecha:</p>
        <p-calendar
          name="createdate"
          formControlName="createdate"
          [showIcon]="true"
          styleClass="w-full readonly"
          dateFormat="dd-mm-yy"
          [appendTo]="'body'"
          
        ></p-calendar>
      </div>

      <div class="col-12 sm:col-12 lg:col-6">
        <p>Valor Unitario:</p>
        <input
          type="text"
          name="unitvalue"
          class="w-full"
          pInputText
          formControlName="unitvalue"
          [readonly]="true"
        />
      </div>
      <div class="col-12 sm:col-12 lg:col-6">
        <p>Valor Total:</p>
        <p-inputNumber
          inputId="minmax"
          inputId="minmax"
          mode="decimal"
          formControlName="total"
          [readonly]="true"
          (onInput)="onInputChange()"
        >
        </p-inputNumber>
      </div>
      <div class="col-12">
        <p-button
          type="summit"
          label="Vender"
          styleClass="p-button-outlined"
        ></p-button>
      </div>
    </form>
  </div>
</div>
